<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog"/>
    </configSections>
  
    <connectionStrings>
        <add name="DataGridViewSample.Properties.Settings.接続文字列1" connectionString="DataSource=DESKTOP-LO22HNR; InitialCatalog=testdb; IntegratedSecurity=true;"
            providerName="using System.Data.SqlClient" />
    </connectionStrings>
  
    <nlog>
      <targets>
        <target name="sample" type="File" layout="${date}${message}" fileName="sample.log" />
      </targets>
      <rules>
        <logger name="*" minlevel="Info" writeTo="sample" />
      </rules>
    </nlog>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>