@model User
@{
    ViewData["Title"] = "Index";
}

<h3>ユーザー情報更新</h3>
<h5 class="information">@ViewBag.Message</h5>
<form asp-action="Index">
    <div>
        <label asp-for="UserId"></label>
        <input asp-for="UserId" hidden="hidden" />
        <input asp-for="UserId" disabled="disabled" />
    </div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="PasswordType"></label>
        <input asp-for="PasswordType" hidden="hidden" />
        <input asp-for="PasswordType" disabled="disabled" />
    </div>
    <div>
        <label asp-for="PasswordSalt"></label>
        <input asp-for="PasswordSalt" hidden="hidden" />
        <input asp-for="PasswordSalt" disabled="disabled" />
        <span asp-validation-for="PasswordSalt"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" hidden="hidden" />
        <input asp-for="Password" disabled="disabled" />
    </div>

    <div>
        <label asp-for="IsAdministrator"></label>
        <input asp-for="IsAdministrator" hidden="hidden"/>
        <input asp-for="IsAdministrator" disabled="disabled" />
    </div>
    <input type="submit" value="更新" />
</form>
<form asp-action="PasswordReset">
    <input type="submit" value="パスワードリセット" />
</form>
<a asp-controller="Chat" asp-action="Index">戻る</a>
