<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>

  <nlog>
    <targets>
      <target name="QuizSample" type="File" layout="${date} ${message}" fileName="QuizSample.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="QuizSample" />
    </rules>
  </nlog>
  
  <connectionStrings>
    <add name="QuizSample.Properties.Settings.Quiz_Db" connectionString="Data Source=DESKTOP-LO22HNR; Initial Catalog=quiz_db; Integrated Security=True;"
      providerName="System.Data.SqlCilent" />
  </connectionStrings>

  <appSettings>
    <add key="QuizCategoryChoicesTable" value="SELECT DISTINCT * FROM quiz_db.dbo.quiz q INNER JOIN quiz_db.dbo.category c ON q.category_id = c.category_id INNER JOIN quiz_db.dbo.choices ch ON q.quiz_id = ch.quiz_id"/>    
    <add key="QuizCategoryTable" value="SELECT DISTINCT * FROM quiz_db.dbo.quiz q INNER JOIN quiz_db.dbo.category c ON q.category_id = c.category_id"/>
    <add key="QuizTable" value="SELECT DISTINCT * FROM quiz_db.dbo.quiz"/>
    <add key="CategoryTable" value="SELECT * FROM quiz_db.dbo.category"/>
    <add key="QuizCategoryTableCaId" value="SELECT DISTINCT * FROM quiz_db.dbo.quiz q INNER JOIN quiz_db.dbo.category c ON q.category_id = c.category_id where c.category_id = "/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>