<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog>
    <target>
      <target name="quizLog" type="File" fileName="quizLog.log" />
    </target>
    <rules>
      <logger name="*" minlevel="info" writeTo="quizLog" />
    </rules>
  </nlog>
  
  <connectionStrings>
      <add name="QuizSample.Properties.Settings.接続文字列1" connectionString="Data Source=DESKTOP-LO22HNR; Initial Catalog=quiz_db; Integrated Security=True;"
          providerName="System.Data.SqlCilent" />
  </connectionStrings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>