html{
    background-color:#000000
}

body {
    font: normal normal 400 18px normal 'Meiryo UI';
    color: #ace3e3;
    margin: 0em 3em;
    padding: 1%;
    border: 2px solid #ace3e3;
    text-align: center;
}

.label-box-contents {
    padding: 0em 1em;
    margin: 1em 0em;
    border: 2px dashed #ace3e3;
    width: 30%;
}

.label-box-contents-hidden {
    display: inline-block;
    padding: 0em 1em;
    margin: 1em 0em;
    border: 2px solid #ace3e3;
    max-width: 400px;
    min-width: 250px;
}

li{
    list-style: none;
}

.message {    
    margin: 0em;
    padding: 0em;
}

.white-space-norap {
    white-space: nowrap;
}