@model User
@{
    ViewData["Title"] = "Index";
}


@if (!string.IsNullOrEmpty((string)TempData["outMsg"]))
{
    <h1>@ViewBag.Message</h1>
    <h1>もう一度入力してください。</h1>
    <hr />
}

<form asp-action="Index">
    <div>
        <input name="UserId" type="text" />
    </div>
    <div>
        <input name="Password" type="password" />
    </div>
    <input type="submit" value="ログイン" />
</form>
