@model UserInfo
@{
    ViewData["Title"] = "Index";
}

<h6>パスワードを更新してください</h6>
@if (!string.IsNullOrEmpty((string)TempData["outMsg"]))
{
    <hr />
    <h6>@ViewBag.Message</h6>
    <h6>もう一度入力してください。</h6>
    <hr />
}
<form asp-action="Index">
    <div>
        <input name="NewPassword" type="password" />
    </div>
    <div>
        <input name="ConfirmPassword" type="password" />
    </div>
    <input type="submit" value="更新" />
</form>


