@model PasswordViewModel
@{
    ViewData["Title"] = "Index";
}

@if (!string.IsNullOrEmpty((string)TempData["outMsg"]))
{
    <h3 class="information">@ViewBag.Message</h3>
    <h3>もう一度入力してください。</h3>
    <hr />
}
<h3>パスワードを更新してください</h3>
<form asp-action="Index">
    <div>
        <label asp-for="OldPassword"></label>
        <input name="OldPassword" type="password" value="@Model.OldPassword" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <input name="NewPassword" type="password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input name="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <input type="submit" value="更新" />
</form>