@model IEnumerable<Message>
@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <title>ChatApp</title>
</head>
<body>
    <form asp-action="Index">
        <div>
            <input name="Msg" type="text" />
        </div>
        <input type="submit" value="更新" />
    </form>
    <form asp-action="Logout">
        <input type="submit" value="ログアウト" />
    </form>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="UserList" asp-action="Index">ユーザー管理</a>
    }
    <a asp-controller="Profile" asp-action="Index" asp-route-id="@User.Identity.Name">プロフィール編集</a>
    <div>
        <ul>
            @foreach (var messages in Model)
            {
                <li class="label-box-contents-hidden">
                    <p class="message">>@messages.PostAt @messages.Name </p>
                    <p class="message">@messages.Msg</p>
                </li>
                <br />
            }
        </ul>
    </div>
</body>
</html>
