@model IEnumerable<Message>
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>ChatApp</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div>
        <ul>
            @foreach (var messages in Model)
            {
                <li class="label-box-contents-hidden">
                    <p class="message">>@messages.PostAt @messages.Name </p>
                    <p class="message">@messages.Msg</p>
                </li>
                <br />
            }
        </ul>
    </div>
    <hr />
    <form asp-action="Index">
        <div>
            <input name="Msg" type="text" />
        </div>
        <input type="submit" value="更新" />
    </form>
</body>
</html>
